*{
  padding: 0;
  margin: 0;
}
$BGC_THEME:linear-gradient(to bottom right,#EAD6EE,#A0F1EA);
$FONT_FAMILY:'Poppins', sans-serif;
$HOME_NAV_BG: rgb(255,250,255);
$HOME_BG: rgb(243,243,243);
$HOME_NAV_FONT_COLOR: rgb(21,41,97);
$NAV_LEMONCHIFFON: #1C1C1C;
$FONT_COLOR_Light_GRAY:rgb(200,200,200);
$HOVER_COLOR: #00BFFF;
// 左右晃动
@keyframes shake {
  0%{
    transform: rotate(0);
  }
  25%{
    transform: rotate(-15deg);
  }
  50%{
    transform: rotate(0);
  }
  75%{
    transform: rotate(15deg);
  }
  100%{
    transform: rotate(0);
  }
}
// 从左往右出现
@keyframes showFromLeftToRight{
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  50%{
    transform: translateX(10%);
    opacity: 0.5;
  }
  75%{
    transform: translateX(-10%);
    opacity: 0.75;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
// 从右往左出现
@keyframes showFromRightToLeft{
  0%{
    transform: translateX(80%);
    opacity: 0;
  }
  50%{
    transform: translateX(-5%);
    opacity: 0.5;
  }
  75%{
    transform: translateX(10%);
    opacity: 0.75;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
// 从上往下出现
@keyframes showFromTopToBottom {
  from{
    transform: translateY(-100%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}